<footer class="col-12" style="background: #424240; color: #fff;">
    <div class="col-12 pb-3 pt-4">
<div class="row">    
    <div class="col-lg-9 col-sm-8">      
      <div class="row">
        <div class="col-lg-9 col-sm-10 m-auto " style="padding: 5px;">
          <div
            style=" display: flex; justify-content: space-between;font-size: 13px;font-family: 'Open Sans', sans-serif;">
            <a routerLink="/" style="color: #fff;">Home</a>
            <a routerLink="/about" style="color: #fff;" >About Us</a>
            <a routerLink="/products" style="color: #fff;" >Products</a>           
            <a  routerLink="/enquiry" style="color: #fff;">Enquiry</a>
            <a routerLink="/contact" style="color: #fff;">Contact Us</a>
          <!-- </div>
        </div>
        <div class="col-lg-6 "> -->
          <!-- <img src="https://assets.snaplion.com/2340/CorporatePartner/xXYN8WwERUsy4XjDXCrx_08742">
          <span style="font-weight: bold;font-size: 13px; margin-left: 10px; "><a href="tel:9111-65414549"
              style="color: #fff">91-11-65414549</a>
            ,<span><a href="tel:9111-45009423" style="color: #fff; margin-left: 10px;">91-11-45009423</a></span></span> -->
            </div>
        </div>
  
      </div>
      <p class="pt-3 pb-3"
        style="text-align: center; font-size: 13px;font-family: 'Open Sans', sans-serif;margin: 0px; ">Copyright © 2019
       <span routerLink="/"  style="cursor: pointer;">Dhanush International</span></p>  
    </div>
    <div class="col-lg-3 col-sm-4">
            
           <div class="col-12" style="display: flex;justify-content: space-around; font-size: 40px;">
            <i class="fa fa-cc-paypal" aria-hidden="true"></i>
            <i class="fa fa-cc-visa" aria-hidden="true"></i>
            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>

           </div>
           <div class="col-12">
              <div class="col-12 mt-3"  style="display: flex;justify-content: space-around;font-size: 20px; ">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
    
            </div>
    </div>
</div>
</div>
  </footer>