<section class="banner-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="banner banner-table">
                    <div class="pageTitle">
                        <span>Table Linen</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="empty"></div>
    
    <section>
        <div class="container">
            <div class="appointTitile">
                <p>These will add not just element of style to your tables but is also a necessity.Its a trendy decor pick. </p>
            </div>
        </div>
    </section>
    
    <div class="empty"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cimg">
                    <img src="assets/th/ta1.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/ta2.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/ta3.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/ta4.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/ta5.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/ta6.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <div class="empty"></div>