<section class="banner-sec">
        <div class="container-fluid">
          <div class="row">
            <div class="banner banner-cushion">
              <div class="pageTitle">
                <span>Cushions</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="empty"></div>
      
      <section>
        <div class="container">
          <div class="appointTitile">
            <p>Cushions are staple comfort prop for our furniture.No sitting crib can be complete without them.We have an Uber chic collection to offer. </p>
          </div>
        </div>
      </section>
      
      <div class="empty"></div>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 cimg">
              <img src="assets/th/p1.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/p2.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/p3.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/p4.jpg" alt="">
            </div>
            <!-- <div class="col-sm-4 cimg">
              <img src="assets/th/p5.jpg" alt="">
            </div> -->
            <div class="col-sm-4 cimg">
              <img src="assets/th/p6.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/p7.jpg" alt="">
            </div>
            <!-- <div class="col-sm-4 cimg">
              <img src="assets/th/t8.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/t9.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/t10.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/t11.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
              <img src="assets/th/t12.jpg" alt="">
            </div> -->
            <div class="col-sm-4 cimg">
                <img src="assets/th/pc1.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/pc2.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/pc3.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
      
      <div class="empty"></div>