<section class="banner-sec">
        <div class="container-fluid">
          <div class="row">
            <div class="banner banner-about">
              <div class="pageTitle">
                <span>About US</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="empty"></div>
      
      <section>
        <div class="container">
            <div class="appointTitile">            
                <p>Our company is known for its well crafted products and exclusive designs. We believe that business is not just signed between two parties but it is the culmination of Uncompromised quality, commitment and supply of fascinating designs to business Associates. Quality and quality alone is our readth. We believe that business is not just signed between two parties but it is the culmination of Uncompromised quality, commitment and supply of fascinating designs to business Associates. Quality and quality alone is our breadth </p>
                <p class="text-left">Designing is being viewed as an engine of growth in the fashion industry. Our designers Strive a balance between creativity and customer requirement. This is being reflected in the designs, artwork that we produce. This is being reflected in the designs, artwork that we produce. This is being reflected in the designs, artwork that we produce.</p>
            
            <p class="text-left"><b>Our Objective :</b></p>
            <ul class="ml-5">
                <li><p class="text-left">Having professional team for design and development with modern infrastructure.</p></li>
                <li><p class="text-left">Designing and developing seasonal shades and styles.</p></li>
                <li><p class="text-left">Introducing and using wide range of natural fibers and manmade fibers.</p></li>
            </ul>
            <p class="text-left">Quick response of pre-order, production & post delivery service. We design and manufacture throws, cushion covers, decorative scarves / stoles and woven fabric in cotton and cotton/silk blends. We have our own manufacturing and weaving unit in Bihar and Ghaziabad. Our factory is_ 1500_ sq. meters and we employ weavers and craftsmen. We have been working in the Indian domestic market for _11_ years and would like to commence work in the export segment as well.</p>
            <p class="text-left">As we are direct manufacturers we can offer you the best price, quality control and delivery schedules. You will be pleased to see our company profile as well as product catalogue supports the above mentioned facts. The same are attached herewith. We will be happy to provide you with initial samples so that you may see our quality parameters in terms of yarn count, weaving style and product finish. As these are hand woven product minor irregularities like slubs, etc. are inherent characterisitcs of the product's beauty.</p>
            <p class="text-left">We are also willing to specially design custom-made samples for your specific needs but will need to discuss with the weaver, the details of the sample cost (to be adjusted against bulk production), alternate weaving pattern as well as delivery schedules for samples as well as production before confirming the same to you. We would be very happy if you could also visit our office in New Delhi and our factory in your next trip to India. Accordingly we can source some new yarns as per your requirements and work with your designers in detail at our factory making designs exclusively for you.</p>
            <p class="text-left">We trust you will give us a thought after going through our company profile and product catalogue as soon as you plan your new collection for the next season. We look forward to building a long and mutually successful working relationship with you in the near future.</p>
            <p class="text-left">We are presently doing scarves, stoles, poncio, parios etc in fashion accessories. Throws c/c, Curtains, Table cover, Table mats, Napkins, Table Runners, Napkin Rings in Home Furnishing.</p>
        </div>
        </div>
      </section>
      <div class="empty"></div>     

    