<section class="banner-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="banner banner-Contact">
                <div class="pageTitle">
                    <span>Contact US</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="empty"></div>


<div class="empty"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14005.981809286537!2d77.1650527!3d28.6448802!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5dd500999c9b84d5!2sDHANUSH%20INTERNATIONAL!5e0!3m2!1sen!2sin!4v1570274318422!5m2!1sen!2sin"
                     frameborder="0" style="border:0;" allowfullscreen="" class="map"></iframe>

            </div>
            <div class="col-md-6 mtm-4">
                    <div class="empty"></div>
                <div class="contactDetails">
                    <h4 class="mb-0">Dhanush International</h4>
                    <label class="mb-1">Manufacturer & Exporter of high Fashion</label>
                    <p>3289, Fourth Floor, 9th Block, Near Mother Dairy, South Patel Nagar, Block 7, South Patel Nagar,
                        New Delhi, Delhi 110008</p>
                    <div class="mt-4">
                            <p class="mb-0" style="color: #5e5e5e; font-size:16px;font-weight: bold;">Phone :
                                </p>
                        
                        <p> <a style="color: #222;" href="tel:+91-11-65414549"><i class="fa fa-mobile" aria-hidden="true"></i> +91-11-65414549, </a>
                            <a style="color: #222;" href="tel:+91-11-45009423"> +91-11-45009423</a></p>
                    </div>
                    <div class="mt-4">
                        <h4>Contact Person</h4>
                        <div>
                            <p class="mb-0" style="color: #5e5e5e; font-size:16px;font-weight: bold;"> Garima Prasad
                            </p>
                            <a style="color: #222;" href="tel:919818402814"><i class="fa fa-mobile" aria-hidden="true"></i> 9818402814</a>
                            <br>
                            <a style="color: #222;" href="mailto:garima@dhanushinternational.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Garima@dhanushinternational.com</a>
                        </div>
                        <div class="mt-2">
                            <p class="mb-0" style="color: #5e5e5e; font-size:16px;font-weight: bold;">Shweta Singh
                            </p>
                            <a style="color: #222;" href="tel:919810298453"><i class="fa fa-mobile" aria-hidden="true"></i> 9810298453</a>
                            <br>
                            <a style="color: #222;" href="mailto:shweta@dhanushinternational.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Shweta@dhanushinternational.com</a>
                        </div>
                        <div class="mt-2">
                            <p class="mb-0" style="color: #5e5e5e; font-size:16px;font-weight: bold;"> Anamika Singh
                            </p>
                            <a style="color: #222;" href="tel:919510295843"><i class="fa fa-mobile" aria-hidden="true"></i> 9510295843</a>
                            <br>
                            <a style="color: #222;" href="mailto:anamika@dhanushinternational.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Anamika@dhanushinternational.com</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="empty"></div>