<section class="banner-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="banner banner-curtain">
                <div class="pageTitle">
                    <span>Curtains</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="empty"></div>

<section>
    <div class="container">
        <div class="appointTitile">
            <p>Curtains are not just homes bear minimums but have also become a style statement too.They keep our homes totally on trend.</p>
        </div>
    </div>
</section>

<div class="empty"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 cimg">
                <img src="assets/th/c1.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/c2.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/c3.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/c4.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/c5.jpg" alt="">
            </div>
            <div class="col-sm-4 cimg">
                <img src="assets/th/c6.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<div class="empty"></div>