<section class="banner-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="banner banner-throws">
        <div class="pageTitle">
          <span>Throws</span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="empty"></div>

<section>
  <div class="container">
    <div class="appointTitile">
      <p>Throws are must haves when it comes to doing up contemporary homes.And we have a plethora of options to choose from.Our quality is our forte and we totally swear by it. </p>
    </div>
  </div>
</section>

<div class="empty"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 cimg">
        <img src="assets/th/t1.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t2.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t3.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t4.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t5.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t6.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t7.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t8.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t9.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t10.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t11.jpg" alt="">
      </div>
      <div class="col-sm-3 cimg">
        <img src="assets/th/t12.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<div class="empty"></div>