<section class="banner-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="banner banner-gg">
                    <div class="pageTitle">
                        <span>Grass Product</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="empty"></div>
    
    <section>
        <div class="container">
            <div class="appointTitile">
                <p>These are very new addition to our collection and completely natural and hand made.</p>
            </div>
        </div>
    </section>
    
    <div class="empty"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cimg">
                    <img src="assets/th/g1.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/g2.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/g3.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/g4.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/g5.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/g6.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                        <img src="assets/th/g7.jpg" alt="">
                    </div>
                    <div class="col-sm-4 cimg">
                        <img src="assets/th/g8.jpg" alt="">
                    </div>
                    <div class="col-sm-4 cimg">
                        <img src="assets/th/g9.jpg" alt="">
                    </div>
            </div>
        </div>
    </section>
    
    <div class="empty"></div>