<section class="banner-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="banner banner-about">
                    <div class="pageTitle">
                        <span>Pillows</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="empty"></div>
    
    <section>
        <div class="container">
            <div class="appointTitile">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. </p>
            </div>
        </div>
    </section>
    
    <div class="empty"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 cimg">
                    <img src="assets/th/pc1.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/pc2.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/pc3.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/pc4.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/pc5.jpg" alt="">
                </div>
                <div class="col-sm-4 cimg">
                    <img src="assets/th/pc6.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <div class="empty"></div>