<section class="banner-sec">
        <div class="container-fluid">
          <div class="row">
            <div class="banner banner-products">
              <div class="pageTitle">
                <span>Products</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="empty"></div>
      
      <section>
        <div class="container">
            <div class="row reverse">
                <div class="col-sm-6">
                    <img src="assets/d1.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                </div>
                <div class="col-sm-6 appointTitile cc">
                        <div class="mb-3 mt-3"> 
                          <h1 class="text-center">Throws</h1>
                        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/throws">More</p>
                        </div>                        
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-6 appointTitile cc">
                        <div class="mb-3 mt-3"> 
                            <h1 class="text-center">Cushion</h1>
                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/cushion">More</p>  
                        </div>                      
                        </div>
                    <div class="col-sm-6">
                        <img src="assets/d2.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                    </div>
                  
                </div>
                <div class="row reverse">
                        <div class="col-sm-6">
                            <img src="assets/d3.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                        </div>
                        <div class="col-sm-6 appointTitile cc">
                            <div class="mb-3 mt-3"> 
                                <h1 class="text-center">Curtains</h1>
                                <p class="mb-1" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/curtains">More</p>
                            </div>                        
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6 appointTitile cc">
                                <div class="mb-3 mt-3"> 
                                    <h1 class="text-center">Pillows</h1>
                                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/pillows">More</p>

                                </div>                        
                                </div>
                            <div class="col-sm-6">
                                <img src="assets/d4.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                            </div>
                          
                        </div>
                        <div class="row reverse">
                            <div class="col-sm-6">
                                <img src="assets/d5.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                            </div>
                            <div class="col-sm-6 appointTitile cc">
                                <div class="mb-3 mt-3"> 
                                    <h1 class="text-center">Kitchen linen</h1>
                                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/kitchen-linen">More</p>
                                </div>                         
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6 appointTitile cc">
                                    <div class="mb-3 mt-3"> 
                                        <h1 class="text-center">Grass Begs</h1>
                                        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/grass-begs">More</p>
                                    </div>                        
                                    </div>
                                <div class="col-sm-6">
                                    <img src="assets/d6.jpg" alt="" style="width: 100%; height: 300px; object-fit: contain;">
                                </div>
                              
                            </div>
        </div>
      </section>
      <div class="empty"></div>     

    