<section class="banner-sec">
        <div class="container-fluid">
          <div class="row">
            <div class="banner banner-products">
              <div class="pageTitle">
                <span>Products</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="empty"></div>
      
      <section>
        <div class="container">
            <div class="row reverse">
                <div class="col-sm-6">
                    <img src="assets/d1.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                </div>
                <div class="col-sm-6 appointTitile cc">
                        <div class="mb-3 mt-3"> 
                          <h1 class="text-center">Throws</h1>
                        <p class="mb-1">Throws are must haves when it comes to doing up contemporary homes.And we have a plethora of options to choose from.Our quality is our forte and we totally swear by it.</p>
                        <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/throws">More</p>
                        </div>                        
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-6 appointTitile cc">
                        <div class="mb-3 mt-3"> 
                            <h1 class="text-center">Cushions</h1>
                            <p class="mb-1">Cushions are staple comfort prop for our furniture.No sitting crib can be complete without them.We have an Uber chic collection to offer.</p>
                            <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/cushion">More</p>  
                        </div>                      
                        </div>
                    <div class="col-sm-6">
                        <img src="assets/d2.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                    </div>
                  
                </div>
                <div class="row reverse">
                        <div class="col-sm-6">
                            <img src="assets/d3.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                        </div>
                        <div class="col-sm-6 appointTitile cc">
                            <div class="mb-3 mt-3"> 
                                <h1 class="text-center">Curtains</h1>
                                <p class="mb-1" >Curtains are not just homes bear minimums but have also become a style statement too.They keep our homes totally on trend.</p>
                                <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/curtains">More</p>
                            </div>                        
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6 appointTitile cc">
                                <div class="mb-3 mt-3"> 
                                    <h1 class="text-center">Table linen</h1>
                                    <p class="mb-1">These will add not just element of style to your tables but is also a necessity.Its a trendy decor pick.</p>
                                    <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/table">More</p>

                                </div>                        
                                </div>
                            <div class="col-sm-6">
                                <img src="assets/d7.png" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                            </div>
                          
                        </div>
                        <div class="row reverse">
                            <div class="col-sm-6">
                                <img src="assets/d5.jpg" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                            </div>
                            <div class="col-sm-6 appointTitile cc">
                                <div class="mb-3 mt-3"> 
                                    <h1 class="text-center">Kitchen linen</h1>
                                    <p class="mb-1">There’s a wide range of kitchen essentials to make your kitchen experience comfortable one.</p>
                                    <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/kitchen-linen">More</p>
                                </div>                         
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6 appointTitile cc">
                                    <div class="mb-3 mt-3"> 
                                        <h1 class="text-center">Grass Product</h1>
                                        <p class="mb-1">These are very new addition to our collection and completely natural and hand made.</p>
                                        <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/grass-bags">More</p>
                                    </div>                        
                                    </div>
                                <div class="col-sm-6">
                                    <img src="assets/d6.jpg" alt="" style="width: 100%; height: 300px; object-fit: contain;">
                                </div>
                              
                            </div>
                            <!-- <div class="row reverse">
                                    <div class="col-sm-6">
                                        <img src="assets/d7.png" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                                    </div>
                                    <div class="col-sm-6 appointTitile cc">
                                        <div class="mb-3 mt-3"> 
                                            <h1 class="text-center">Table linen</h1>
                                            <p class="mb-1">These will add not just element of style to your tables but is also a necessity.Its a trendy decor pick.</p>
                                            <p style="color: #5e5e5e; cursor: pointer;font-weight: bold;" routerLink="/kitchen-linen">More</p>
                                        </div>                         
                                        </div>
                                </div> -->
        </div>
      </section>
      <div class="empty"></div>     

    