<section  id="home" class="banner-sec">
    <div>
      <div class="owl-carousel owl-carousel-3 owl-theme">
        <div>
            <div class="row" style="background:#cfcdc7;">
                <div class="col-lg-7 col-md-6 col-sm-6" style="padding: 0;">                    
                  <img src="assets/b1.jpg" >
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 tbox" style="position: relative;">
                  <div class="bnn" style="align-self: center; ">
                    <h1 class="b-text" style="font-family: 'Montserrat', sans-serif;"><b>Throws</b></h1>
                    <h1 class="b-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
                    <button routerLink="/throws" class="btn mtm"  style="background: #222; color: #fff; font-size: 12px;margin-top: 15px;font-family: 'Montserrat', sans-serif;">Learn More</button>
                  </div>
                </div>
              </div>
        </div>
        <div>
            <div class="row" style="background:#cfcdc7;">
                <div class="col-lg-7 col-md-6 col-sm-6" style="padding: 0;">
                  <img src="assets/b2.jpg" >
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 tbox" style="position: relative;">
                  <div class="bnn" style="align-self: center; ">
                      <h1 class="b-text"><b>Cushion</b></h1>
                    <h1 class="b-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
                    <button routerLink="/cushion" class="btn"  style="background: #222; color: #fff; margin-top: 15px; font-size: 12px;font-family: 'Montserrat', sans-serif;">Learn More</button>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>

  <section id="AboutUs">
      <div class="container appointTitile" style="text-align: center;">       
        <p class="mt-5">
            Our company is known for its well crafted products and exclusive designs. We believe that business is not just signed between two parties but it is the culmination of Uncompromised quality, commitment and supply of fascinating designs to business Associates. Quality and quality alone is our readth. We believe that business is not just signed between two parties but it is the culmination of Uncompromised quality, commitment and supply of fascinating designs to business Associates. Quality and quality alone is our breadth</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 mt-4">
            <img src="assets/c1.jpg" style="width: 100%; object-fit: cover;height: 400px;">
          </div>
          <div class="col-sm-6 mt-4">
              <img src="assets/c2.jpg" style="width: 100%; object-fit: cover;height: 400px;">
            </div>
        </div>
      </div>
  </section>

  <section>
      <div class="container mt-5">
        <h3 style="font-size: 30px; text-align: center;color: #5e5e5e;">Products</h3>
        <div class="row">
          <div class="col-md-4 col-sm-6 mt-4 mb-4" routerLink="/throws">
            <img src="assets/d1.jpg" alt="" >
            <span>Throws</span>
          </div>
          <div class="col-md-4 col-sm-6 mt-4 mb-4" routerLink="/cushion">
              <img src="assets/d2.jpg" alt="" >
              <span>Cushion</span>
            </div>
            <div class="col-md-4 col-sm-6 mt-4 mb-4" routerLink="/curtains">
                <img src="assets/d3.jpg" alt="" >
                <span>Curtains</span>
              </div>
              <div class="col-md-4 col-sm-6 mt-4 mb-4" routerLink="/pillows">
                  <img src="assets/d4.jpg" alt="" >
                  <span>Pillows</span>
                </div><div class="col-md-4 col-sm-6 mt-4 mb-4" routerLink="/kitchen-linen"> 
                    <img src="assets/d5.jpg" alt="" >
                    <span>Kitchen linen</span>
                  </div>

                <div class="col-md-4 col-sm-6 mt-4 mb-4" routerLink="/grass-begs">
                    <img src="assets/d6.jpg" alt="" style="object-fit: contain;">
                    <span>Grass Begs</span>
                  </div>
        </div>
      </div>
  </section>
  <section>
    <div class="re">
<div class="container pt-5 pb-5">
  <div class="col-11 m-auto" style="background: #fff;padding: 25px;font-size: 20px;text-align: center;">
      <p>" We would like to take this opportunity to introduce ourselves to you and your team of designers. We are (Ms. Dhanush International), based in New Delhi. DHANUSH INTERNATIONAL distinguished part of the Macrame Design. Manufacturing company was initiated and set up by Ms SHWETA SINGH in 2002. In a span of three years it has grown and has made a name for itself in the international market and has been catering to the needs of in US, Europe & Middle East."</p>  
  </div>
</div>
    </div>
  </section>


  <section>
    <div class="container mt-5">
      <h3 style="font-size: 30px; text-align: center;color: #5e5e5e;">Why Choose Us?</h3>
      <div class="row">  
          <div class="col-md-3 col-sm-6 mt-4 mb-4">
              <img src="assets/team.png"
                style="margin: 0 auto; display: block;width: 60px; height: 60px;">
                <h4 style="font-size: 18px; text-align: center;font-weight: bold; margin-top: 20px; color: #5e5e5e; ">Professional Team</h4>
              <p style="font-size: 14px; text-align: center; font-family: 'Open Sans', sans-serif; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
            </div>      
        <div class="col-md-3 col-sm-6 mt-4 mb-4">
          <img src="assets/se.png"
            style="margin: 0 auto; display: block; width: 60px; height: 60px;">
            <h4 style="font-size: 18px; text-align: center;font-weight: bold; margin-top: 20px; color: #5e5e5e; ">Best Quality </h4>
          <p style="font-size: 14px; text-align: center; font-family: 'Open Sans', sans-serif; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        </div>
        <div class="col-md-3 col-sm-6 mt-4 mb-4">
          <img src="assets/dev.png"
            style="margin: 0 auto; display: block;width: 60px; height: 60px;">
            <h4 style="font-size: 18px; text-align: center;font-weight: bold; margin-top: 20px; color: #5e5e5e; ">Latest Technology</h4>
          <p style="font-size: 14px; text-align: center; font-family: 'Open Sans', sans-serif; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        </div>        
        <div class="col-md-3 col-sm-6 mt-4 mb-4">
            <img src="assets/tc.png "
            style="margin: 0 auto; display: block;width: 60px; height: 60px;">
            <h4 style="font-size: 18px; text-align: center;font-weight: bold; margin-top: 20px; color: #5e5e5e; ">More Experience</h4>
            <p style="font-size: 14px; text-align: center; font-family: 'Open Sans', sans-serif; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
          </div>
      </div>
    </div>
  </section>